<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipes</title>
    <!-- Bootstrap CSS -->

    <script src="/webjars/bootstrap/5.3.2/js/bootstrap.min.js"></script>
    <link href="webjars/bootstrap/5.3.2/css/bootstrap.min.css"  rel="stylesheet" />
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 mx-auto">
                <div class="card text-white text-center">
                        <div class="card-header bg-primary">
                        <h3 class="card-title">My Recipes!</h3>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive" th:if="${not #lists.isEmpty(recipes)}">
                            <table class="table table-hover">
                                <thead class="thead-inverse">
                                    <tr>
                                        <td>ID</td>
                                        <td>Description</td>
                                        <td>View</td>
                                    </tr>
                                </thead>
                                <tr th:each="recipe: ${recipes}">
                                    <td th:text="${recipe.id}">123</td>
                                    <td th:text="${recipe.description}">Tasty Goodness</td>
                                    <td><a href="#" th:href="@{'/recipe/show/'+ ${recipe.id}}">View</a></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>