<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipes</title>
    <!-- Bootstrap CSS -->
  <!--  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card text-white mb-3">
                    <div class="card-header bg-primary">
                        <h3 class="card-title">My Recipes!</h3>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive" th:if="${not #lists.isEmpty(recipes)}">
                            <table class="table table-hover">
                                <tr th:each="recipe: ${recipes}">
                                    <td><h3 th:text="${recipe.description}">Description</h3></td>
                                    <td>
                                        <ul>
                                            <li>Preparation Time: <dev th:text="${recipe.prepTime}"></dev></li>
                                            <li>Cooking Time: <dev th:text="${recipe.cookTime}"></dev></li>
                                            <li>Servings:<dev th:text="${recipe.servings}"></dev></li>
                                            <li>Categories:
                                                <ul>
                                                    <li th:each="cat: ${recipe.categories}"><dev th:text="${cat.name}"></dev></li>
                                                </ul>
                                            </li>
                                            <li>Source: <dev th:text="${recipe.source}"></dev><br/></li>
                                            <li>URL: <a th:href="${recipe.url}"><span th:text="${recipe.url}"></span></a></li>
                                        </ul>
                                    </td>
                                    <td>
                                        <dev>Ingredients:</dev>
                                        <ul>
                                            <li th:each="ingredient: ${recipe.ingredients}">
                                                <p style="width:300px">
                                                    <dev th:text="${ingredient.amount}"></dev>
                                                    <span th:if="${ingredient.uom}"><dev th:text="${ingredient.uom.name}"></dev><span th:if="${ingredient.amount > 1.0}">s</span></span>
                                                    <dev th:text="${ingredient.name}"></dev>
                                                </p>
                                            </li>
                                        </ul>
                                    </td>
                                    <td>
                                        <dev>Directions:</dev>
                                        <ol>
                                            <li th:each="step: ${#strings.arraySplit(recipe.directions, '||')}">
                                                <dev th:text="${step}"></dev>
                                            </li>
                                        </ol>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>